<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student_name %>
  </div>

  <div class="field">
    <%= form.label :roll %>
    <%= form.number_field :roll, id: :student_roll %>
  </div>

  <div class="field">
    <%= form.label :hall %>
    <%= form.number_field :hall, id: :student_hall %>
  </div>

  <div class="field">
    <%= form.label :hall_name %>
    <%= form.text_field :hall_name, id: :student_hall_name %>
  </div>

  <div class="field">
    <%= form.label :gpa %>
    <%= form.text_field :gpa, id: :student_gpa %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :student_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
