<p id="notice"><%= notice %></p>

<p>
  <strong>Section a marks:</strong>
  <%= @course.section_a_marks %>
</p>

<p>
  <strong>Section b marks:</strong>
  <%= @course.section_b_marks %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @course.attendance %>
</p>

<p>
  <strong>Assesment:</strong>
  <%= @course.assesment %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @course.grade %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @course.marks %>
</p>

<p>
  <strong>Total marks:</strong>
  <%= @course.total_marks %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @course.percentage %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
