<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
   <h1>Exams</h1>
    <div class="column">
      <table class="table">
 
  <thead>
    <tr>
      <th>Title</th>
      <th>Sem</th>
      <th>Year</th>
      <th>Program</th>
      <th>Registered regular students</th>
      <th>Registered irregular students</th>
      <th>Passed</th>
      <th>Failed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.title %></td>
        <td><%= exam.sem %></td>
        <td><%= exam.year %></td>
        <td><%= exam.program %></td>
        <td><%= exam.registered_regular_students %></td>
        <td><%= exam.registered_irregular_students %></td>
        <td><%= exam.passed %></td>
        <td><%= exam.failed %></td>
        <td><%= link_to 'Show', exam %></td>
        <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
        <td><%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<br>

<%= link_to 'New Exam', new_exam_path %>
