<p id="notice"><%= notice %></p>

<h3>Exam</h3>
<p>Title: <%= @exam.title if @exam.title %></p>
<p>Sem: <%= @exam.sem if @exam.sem %></p>
<p>Year:  <%= @exam.year %> </p>
<p> Program: <%= @exam.program %> </p>
<p>Registered regular students: <%= @exam.registered_regular_students %> </p>
<p>Registered irregular students: <%= @exam.registered_irregular_students %> </p>
 
<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
